# Project structure
# Only track project_files
!project_files/**
!project_files/

# Standard Ignores (Root only)
/WEB-INF/
/META-INF/
/target/
/index.jsp
/work/
/logs/

### Mac OS ###
.DS_Store
conf/Catalina/
*.log
.idea/
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
